

#bloco{
    
}
#div1{
    background-color: black;
    width: 97.8vw;
    height: 20vh;
    margin-bottom: 1vh;
    
}
#linha{
    display:flex;
}
#div2{
    background-color: burlywood;
    width: 25vw;
    height: 76vh;
}
#div3{
    background-color: red;
    width: 14vw;
    height: 24vh;
    margin: 10vh;
    background-image: url(../imagens/golshi.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
#div4{
    background-color: red;
    width: 14vw;
    height: 24vh;
    margin: 10vh;
    background-image: url(../imagens/teto.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
#div5{
    background-color: red;
    width: 14vw;
    height: 24vh;
    margin: 10vh;
    background-image: url(../imagens/sakuya.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#div6{
    background-color: red;
    width: 14vw;
    height: 24vh;
    margin: 10vh;
    background-image: url(../imagens/vai-dormir-chainsaw-man.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#div7{
    background-color: burlywood;
    width: 25vw;
    height: 76vh;
    
}